<div class="section-container">
  <h2>Latest Uploads</h2>
  <table class="table table-inverse table-hover">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Upload</th>
        <th>User</th>
        <th>Blood Pressure (Systolic) [mmHg]</th>
        <th>Heart-Rate [bpm]</th>
        <th>Quality of Sleep [hours]</th>
        <th>Change in Body Weight [lbs/2 weeks]</th>
        <th>BMI [kgm-2/2weeks]</th>
        <th>FAQ [Score]</th>
        <th>BOMC [Score]</th>
        <th>Health Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let update of updates">
        <td>{{ update.id }}</td>
        <td>{{ update.stamp }}</td>
        <td>{{ update.user.id }}</td>
        <td>{{ update.bps }}</td>
        <td>{{ update.hr }}</td>
        <td>{{ update.qos }}</td>
        <td>{{ update.bw }}</td>
        <td>{{ update.bmi }}</td>
        <td>{{ update.faq }}</td>
        <td>{{ update.bomc }}</td>
        <td>Health Status</td>
      </tr>
    </tbody>
  </table>

<app-pagination (goPage)="goToPage($event)"
                (goPrev)="goToPrevious()"
                (goNext)="goToNext()"
                [page]="page"
                [perPage]="limit"
                [count]="total">
</app-pagination>
</div>
